body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
svg.map {
    width: 100%;
    height: 100%;
}
#country-name {
    color: #fff;
    text-shadow: 0 0 10px #000;
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 42px;
    line-height: 42px;
    padding: 0;
}
.sidebar {
    position: absolute;
    top: 40px;
    right: 0;
    height: 100%;
    width: 300px;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    color: #fff;
    display: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.sidebar h2 {
    margin-top: 0;
}
.sidebar .loading {
    display: none;
}
.sidebar .loading img {
    width: 100%;
}
.sidebar a {
    color: #fff !important;
}
.sidebar ul.list {
    padding-left: 0;
}
.sidebar ul.list li {
    list-style: none;
    margin-bottom: 10px;
}
.interactive, *[data-country-name] {
    fill: red;
}
.interactive, *[data-country-name]:hover {
    cursor: pointer !important;
}
.highlight {
    fill: gold !important;
    opacity: 1 !important;
}
a.concept-link {
    margin-left: 5px;
    float: right;
    color: #888888;
    font-size:70%;
    margin-left: -2px;
    margin-top: 5px;
}
.container {
    max-width: 960px;
}
.concept-thumb {
}
.concept-img {
    margin-right: 16px;
    max-width: 350px;
    max-height: 350px;
    border: 1px solid #ccc;
}
.concept-img--error {
    display: none;
}
.concept-information {
    margin-bottom: 24px;
    color: black;
}
.marquee {
    height: 40px;
    font-size: 18px;
    line-height: 22px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin-right: 300px;
    background: rgba(150, 0, 0, 0.75);
    padding: 8px;
    color: #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-marquee: up 50px infinite scroll 2500;
    overflow-x: -webkit-marquee;
}
.marquee p {
    height: 40px;
    overflow: hidden;
    padding: 0;
    padding-top: 10px;
    margin: 0;
    float: left;
    clear: both;
}
